body {
   margin:0;
   background-color: #dfdfdf;
   font-family: 'Varela Round', sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Varela Round', sans-serif;
}

li img {
  width: 23px;
  height: 22px;
  vertical-align: middle;
  margin-top: -3px;
}

li {
  line-height: 10px;
}

li a:hover:not(.active) {
  background-color: #111;
  text-decoration: none;
  color: #04AA6D;
}

.active {
  background-color: #04AA6D;
}

.active:hover {
  text-decoration: none;
  color: white;
}

.margin {
  margin-left: 20px;
}

.small-text {
    font-size: x-small;
    font-family: 'Varela Round', sans-serif;
}
