
.pagination-container {
    display: flex;
    justify-content: center;
}

.pagination-list {
    list-style-type: none;
    padding: 0;
    display: flex;
}

.pagination-item {
    margin: 0 5px;
}

.pagination-link {
    text-decoration: none;
    padding: 8px 16px;
    background-color: #33cc77;
    color: white;
}

.pagination-link.active {
    background-color: #2980b9;
}

