#message {
          display:none;
          background: #f1f1f1;
          color: #000;
          position: relative;
          padding: 20px;
          margin-top: 10px;
}

#message p {
          padding: 10px 35px;
          font-size: 18px;
}

.valid {
          color: green;
}

.valid:before {
          position: relative;
          left: -35px;
          content: "✔";
}

.invalid {
          color: red;
}

.invalid:before {
          position: relative;
          left: -35px;
          content: "✖";
}
.password-container {
    position: relative;
}

#password {
    padding-right: 30px; /* Adjust the padding to make room for the eye icon */
}

.eye-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-image: url('/images/closed.png');
    background-size: cover;
}

#password[show-password] {

    background-image: url('/images/opened.png');
}

