<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contracts</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/pagination.css}">
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/select.css}">
    <link rel="stylesheet" th:href="@{/css/hand.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/confirmation.css}">
</head>
<body>

<div th:insert="~{fragments/navigation :: navigation('/admins')}"></div>
<br>
<br>
<br>
<header>
    <h1 class="header-1">List of Contracts</h1>
</header>
<br>
<br>
<table>
    <thead>
    <tr>
        <th>Coach email</th>
        <th>Client email</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Monthly Price</th>
        <th>Update</th>
        <th>Delete</th>
        <th>Measurements</th>
        <th>Workouts</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="contract : ${contracts}">
        <tr>
            <td th:text="${contract.coach.user.email}"></td>
            <td th:text="${contract.client.user.email}"></td>
            <td th:text="${#dates.format(contract.startDate, 'dd-MM-yyyy')}"></td>
            <td th:text="${#dates.format(contract.endDate, 'dd-MM-yyyy')}" th:class="${#dates.createNow().after(contract.endDate)} ? 'red-text' : ''"></td>


            <td th:text="${contract.monthlyPrice}"></td>
            <td>
                <a th:href="@{/admins/contracts/update/{id}(id=${contract.id})}" class="become-link">Update</a>
            </td>
            <td >
                <form th:action="@{/admins/contracts/delete/{id}(id=${contract.id})}"
                      method="post"
                      onsubmit="return showConfirmation(this);">
                    <input type="hidden" name="_method" value="delete" />
                    <button type="submit" class="become-link" style="height: 42px;">Delete</button>
                </form>
            </td>
            <td>
                <a th:href="@{/measurements/personal/{id}(id=${contract.id})}" class="become-link">Measurements</a>
            </td>
            <td>
                <a th:href="@{/workout(contractID=${contract.id})}" class="become-link">Workouts</a>


            </td>
        </tr>
    </th:block>
    </tbody>
</table>

<div id="confirmation-dialog" class="confirmation-dialog">
    <div class="confirmation-content">
        <p>Are you sure you want to delete this user?</p>
        <button onclick="confirmDelete()">Yes</button>
        <button onclick="cancelDelete()">No</button>
    </div>
</div>
<script th:src="@{/js/confirmation.js}"></script>

</body>
</html>