<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphs</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/select.css}">
    <link rel="stylesheet" th:href="@{/css/confirmation.css}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        let measurements = /*[[${measurements}]]*/;
        /*]]>*/
    </script>
    <script th:src="@{/js/chart.js}"></script>
</head>
<body>
<div th:insert="~{fragments/navigation :: navigation('/measurements/personal')}"></div>
<br>
<br>
<br>
<br>

<canvas id="bodyWeightChart" width="330" height="130"></canvas>


</body>
</html>