<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Measurement Form</title>
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div th:replace="fragments/navigation :: navigation('/measurements')"></div>
<br>
<br>

<main class="align">
    <div class="login">
        <header class="login__header">
            <h2 class="align">Measurement Form</h2>
        </header>

        <form th:action="@{'/measurements/' + ${contractId}}" th:object="${measurementDto}" method="post" class="login__form">

            <input type="hidden" name="contract" th:value="*{contractId}" />

                <label for="measurementDate">Today's Measurement Date:</label>
            <input type="date" id="measurementDate" name="measurementDate" th:field="*{measurementDate}" required readonly />

            <div>
                 <label for="bodyWeight">Body Weight:</label>
                <input type="number" id="bodyWeight" step="0.1" name="bodyWeight" required min="1" th:field="*{bodyWeight}" placeholder="Enter your body weight"  />
            </div>
            <div>
                <label for="bodyFat">Body Fat:</label>
                <input type="number" id="bodyFat" step="0.1" name="bodyFat" required min="1" th:field="*{bodyFat}" placeholder="Enter your body fat" />
            </div>
            <div>

            <label for="waistCircumference">Waist Circumference:</label>
                <input type="number" id="waistCircumference" step="0.1" name="waistCircumference" required min="10" th:field="*{waistCircumference}"  placeholder="Enter your waist circumference"/>
            </div>
            <div>
                <label for="chestCircumference">Chest Circumference:</label>
                <input type="number" id="chestCircumference" step="0.1" name="chestCircumference" required min="10" th:field="*{chestCircumference}" placeholder="Enter your chest circumference" />
            </div>
            <div>
                <label for="armCircumference">Arm Circumference:</label>
                <input type="number" id="armCircumference" step="0.1" name="armCircumference" required min="10" th:field="*{armCircumference}"  placeholder="Enter your arm circumference"/>
            </div>
            <div>
                 <label for="legCircumference">Leg Circumference:</label>
                <input type="number" id="legCircumference" step="0.1" name="legCircumference" required min="10" th:field="*{legCircumference}"  placeholder="Enter your leg circumference"/>
            </div>
            <div>
                <input class="button" type="submit" value="Submit">
            </div>
        </form>
    </div>
</main>
<script th:src="@{/js/noBack.js}"></script>
<script>
    document.getElementById('measurementDate').valueAsDate = new Date();
</script>
</body>
</html>
