<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal contracts</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
    <link rel="stylesheet" th:href="@{/css/table.css}">
    <link rel="stylesheet" th:href="@{/css/select.css}">
    <link rel="stylesheet" th:href="@{/css/hand.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body>
<div th:insert="~{fragments/navigation :: navigation('/contracts/personal')}"></div>
<br>
<br>
<br>
<br>
<div class="greeting" style="display: inline-block;">
    <p th:if="${clientName != null}" class="header-2" th:text="'Hello ' + ${clientName}  + '. Welcome to OnlineTrainingSystem!'"></p>
    <span th:if="${clientName != null}" class="hand">💪</span>
</div>
<br>
<br>
<br>
<table th:if="${contracts != null and not #lists.isEmpty(contracts)}">
    <thead>
    <tr>
        <th>Coach FirstName</th>
        <th>Coach LastName</th>
        <th>Coach Email</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Monthly Price in €:</th>
        <th>Personal measurements</th>
        <th>Workout lists</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="contract : ${contracts}">
        <td th:text="${contract.coach.user.firstName}"></td>
        <td th:text="${contract.coach.user.lastName}"></td>
        <td th:text="${contract.coach.user.email}"></td>
        <td th:text="${#dates.format(contract.startDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${#dates.format(contract.endDate, 'dd-MM-yyyy')}"></td>
        <td th:text="${contract.monthlyPrice}"></td>
        <td>
            <a th:href="@{'/measurements/personal/' + ${contract.id}}" class="become-link">Measurement</a>
        </td>
        <td>
            <form th:action="@{/workout}" method="get">
                <input type="hidden" th:name="contractID" th:value="${contract.id}" />
                <button type="submit" class="become-link" style="height: 42px;" >View Workouts</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<p th:if="${contracts != null and #lists.isEmpty(contracts)}">No personal contracts available.</p>
</body>
</html>

