<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coaches Settings</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="stylesheet" th:href="@{/css/navigation.css}">
</head>
<body>
<div th:insert="~{fragments/navigation :: navigation('/coaches/settings')}"></div>
<main class="align">
    <div class="login">
        <br>
        <br>
        <header class="login__header">
            <h2 class="align">Update Your Information</h2>
        </header>

        <form th:action="@{/coaches/update}" class="login__form" method="post" th:object="${coach}">

            <input type="hidden" name="_method" value="put" />

            <label for="yearsOfExperience">Years Of Experience: </label>
            <input type="number" id="yearsOfExperience" step="0.5"  th:field="*{yearsOfExperience}" required />

            <label for="education">Education:</label>
            <select id="education" name="education" th:field="*{education}" required>
                <option th:each="edu : ${T(com.training.OnlineTraining.model.enums.Education).values()}"
                        th:value="${edu}" th:text="${#strings.capitalize(edu.name())}">
                </option>
            </select>

            <label for="monthlyPrice">Monthly Price in €:</label>
            <input type="number" id="monthlyPrice" step="0.01" name="monthlyPrice" th:field="*{monthlyPrice}" required/>

            <label for="firstName">First Name:</label>
            <input type="text" id="firstName" th:value="${coach.user.firstName}" name="firstName" required >

            <label for="lastName">Last Name:</label>
            <input type="text" id="lastName" th:value="${coach.user.lastName}" name="lastName" required >

            <label for="street">Street:</label>
            <input type="text" id="street" th:value="${coach.user.street}" name="street" required >

            <label for="city">City:</label>
            <input type="text" id="city" th:value="${coach.user.city}" name="city" required >

            <label for="country">Country:</label>
            <input type="text" id="country" th:value="${coach.user.country}" name="country" required>

            <label for="phoneNumber">Phone Number:</label>
            <input type="tel" id="phoneNumber" th:value="${coach.user.phoneNumber}" name="phoneNumber" required >

            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option th:each="option : ${genderOptions}"
                        th:value="${option}"
                        th:text="${option}"
                        th:selected="${coach.user.gender == option}"></option>
            </select>

            <label for="age">Age:</label>
            <input type="number" id="age" th:value="${coach.user.age}" name="age" required min="1" max="119">

            <div>
                <input class="button" type="submit" value="Update">
            </div>
            <div th:if="${error}" class="error" style="color: red;">
                <p th:text="${error}"></p>
            </div>
        </form>
    </div>
</main>
</body>
</html>
