<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="shortcut icon" type="image/png" th:href="@{/favicon.png}"/>
</head>
<body>
<h1 class="margin">You entered incorrect/forbidden data. Please retry your action again!</h1>
<a href="/register">Navigate to registration</a>
<a href="/login">Navigate to login</a>
<div th:if="${error}" class="error" style="color: red;">
    <p th:text="${error}"></p>
</div>

</body>
</html>